<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
  <h1 class="title">SoundMaster</h1>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">
  <div class="card">
    <ul class="table-view">
      <li class="table-view-cell">
        <a class="push-right" href="" ng-click="play()">
          <strong>Start Video</strong>
        </a>
      </li>
    </ul>
  </div>
</div>
<nav class="bar bar-tab">
  <a class="tab-item active" href="#/poc">
    Test
  </a>
  <a class="tab-item" href="#">
    Main
  </a>
  <a class="tab-item" href="#">
    Search
  </a>
</nav>